@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400,700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
@import url(https://fonts.googleapis.com/css?family=Bowlby+One+SC);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  
}

.naked {
  padding: 0;
  margin: 0;
}

a:hover, a:focus, a:visited {
  color: #fff;
  text-decoration: none;
}

:root {
  font-size: calc(1vw + 1vh + .5vmin);
  
}

body {
  color: #fff;
  background-color: #17181c;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat";
  position: relative;
  font: 1em/1.6 sans-serif;

}

header {
  background-color: #17181c;
  height: 100vh;
  position: relative;
}

.titanic {
  font-size: 144px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  
}

.titanic2 {
  font-size: 144px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  opacity: 1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  
}

nav {
  padding-top: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #17181c;
  text-align: center;
  transform: translateX(-100%);
}
.inner {
  transform: translateX(0);
  transition: transform 0.5s cubic-bezier(0.55, 0.07, 1, 0.02);
  background-image: url("../assets/images/bg.png");
  background-position: center;
  background-size: cover;
}
.inner.open {
  transform: translateX(100%);
}

.fa-times {
  position: absolute;
  top: 35px;
  right: 10%;
  font-size: 36px;
  color: #F06060;
  cursor: pointer;
  z-index: 9999;
}

.fa-bars {
  font-size: 36px;
  position: absolute;
  top: 5%;
  left: 5%;
  cursor: pointer;
}

.fa-arrow-circle-up {
  position: fixed;
  bottom: 5%;
  left: 4%;
  cursor: pointer;
  font-size: 36px;
  z-index: 999;
  color: #F06060;
}

.outer {
  overflow: hidden;
  position: relative;
}

.underline {
  height: 2px;
  width: 0;
  margin: 0 auto;
  background-color: #fff;
}

.nav-link {
  font-size: 46px;
  letter-spacing: 2px;
  display: block;
  color: #fff;
  font-family: "Inconsolata";
  margin: 15px 0;
  text-transform: uppercase;
}

main {
  min-height: 100vh;
  padding-top: 50px;
  background-color: #fff;
  text-align: center;
  font-size: 80px;
}

h2 {
  color: #333;
  text-align: center;
  margin: 100px 0;
  font-size: 10vw;
  font-weight: 700;
  border-top: 0.5vw solid #333;
  border-bottom: 0.5vw solid #333;
  padding: 10px 0;
}



@media screen and (max-width: 1210px) {
  .contact-link {
    margin: 10px auto;
  }
}
@media screen and (max-width: 768px) {
  .skill {
    width: 50%;
    height: 30vw;
  }

  .project {
    width: 50%;
  }

  .contact-link {
    width: 50%;
    margin: 15px auto;
  }
}
@media screen and (max-width: 480px) {
  .skill {
    width: 100%;
    height: 60vw;
  }

  .project {
    width: 100%;
  }

  .contact-link {
    width: 70%;
    margin: 15px auto;
  }
}
